<html><head><title>New Team</title></head>


<body>
<form method="POST" action="/teams/new/submit" id="newteam">
  <p><input id="team_name" type="text" placeholder="Team Name" name="team_name"></p>
  <p><input id="team_year" type="text" placeholder="Team Year" name="team_year"></p>
  <p><button id="button" type="submit" form="newteam" value="Submit">Add Team</button></p>
</form>
</body></html>
